@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --white: hsl(0, 0%, 98%);
  --grey: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li,
a,
button {
  cursor: pointer;
}
li,
a {
  color: var(--grey);
}
li:hover,
a:hover {
  color: var(--black);
}
body {
  position: relative;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.button {
  padding: 15px 20px;
  border-radius: 15px;
}
.button-primary {
  background-color: var(--black);
  color: var(--white);
}
.button-secondary {
  background-color: transparent;
  border: 1px solid var(--black);
  color: var(--black);
}

/* HEADER & NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}
.menu-burger-overlay {
  display: none;
  background: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100vh;
  padding: 10vw;
}
.menu-burger-overlay.active,
.sub-menu.active {
  display: flex !important;
}
.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
.close-icon,
.burger-icon {
  cursor: pointer;
}
/* NAV CONTAINER */
.nav-container,
.nav-item,
.connexion {
  display: flex;
  flex-direction: column;
}
.nav-container {
  width: 100%;
  gap: 5vw;
}
.nav-item {
  gap: 2vw;
}
.nav-item > li span {
  margin-left: 10px;
}
.nav-item img.rotate {
  transform: rotate(180deg);
}
.nav-item .sub-menu {
  display: none;
  flex-direction: column;
  gap: 2vw;
  margin: 20px 10px;
}
.nav-item .sub-menu span {
  margin-right: 10px;
  width: 16px;
  display: inline-block;
}

/* CONNEXION */
.connexion {
  gap: 2vw;
  text-align: center;
}

/* BODY CONTENT */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container > * {
  margin-bottom: 20px;
}
.h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 10px;
}
.text-content {
  max-width: 430px;
  color: var(--grey);
  margin: 20px 0;
  line-height: 1.75rem;
}
.client-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2vw;
  align-items: center;
  margin-top: 50px;
}
.client-box > img {
  max-width: 120px;
  width: 100%;
}

/* RESPONSIVE */
@media screen and (min-width: 960px) {
  body {
    overflow: hidden;
  }
  .nav-item > li:hover img {
    transform: rotate(180deg);
  }
  .container {
    max-width: 1660px;
    height: calc(100vh - 97px);
    flex-direction: row-reverse;
    text-align: left;
    padding: 0 5vw;
    margin: auto;
    gap: 5vw;
  }
  .container > div {
    width: 50%;
  }
  .h1 {
    font-size: 6rem;
  }
  .hero-img {
    text-align: right;
  }
  .hero-img img {
    max-height: 720px;
  }
  .visible {
    display: block;
  }
}
